@model List<Catalog.ViewModels.NotePeAnViewModel>

@{
    ViewData["Title"] = "Note";
}

<h2>Note</h2>

<div class="btn-group mb-3" role="group">
    <a asp-action="Note" asp-route-sortOrder="name" class="btn btn-outline-primary">Sort by Name</a>
    <a asp-action="Note" asp-route-sortOrder="grade" class="btn btn-outline-primary">Sort by Grade</a>
</div>

@foreach (var group in Model)
{
    <h3>Academic Year: @group.AnUniversitar</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Grade</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var nota in @group.Note)
            {
                <tr>
                    <td>@nota.Curs.NumeCurs</td>
                    <td>@nota.Nota</td>
                </tr>
            }
        </tbody>
    </table>
    <p>Average Grade: @group.Media</p>
}
